<div class="fsa-text-size--1 fsa-m--m fsa-p--m fsa-font--sans">
  <h2>Textarea</h2>
<div class="fsa-grid">
   <div class="fsa-grid__1/4">
    <h2>Default</h2>
    <p><textarea class="fsa-textarea" name="1324hgxi" placeholder="Placeholder"></textarea></p>
    <h2>Small</h2>
    <p><textarea class="fsa-textarea fsa-textarea--small" name="hj8h23gxi" placeholder="Placeholder"></textarea></p>
    <h2>Large</h2>
    <p><textarea class="fsa-textarea fsa-textarea--large" name="hj8h2hjkjxi" placeholder="Placeholder"></textarea></p>
    <h2>Response: Error</h2>
    <p><textarea class="fsa-textarea fsa-textarea--error" name="hloremjkjxi" placeholder="Placeholder"></textarea></p>
    <h2>Response: Positive</h2>
    <p><textarea class="fsa-textarea fsa-textarea--positive" name="hloremipsxi" placeholder="Placeholder"></textarea></p>
    <h2>Disabled</h2>
    <p><textarea class="fsa-textarea" disabled="disabled" name="iephg" placeholder="Placeholder">Lorem ipsum dolor sit amet</textarea></p>
    <h2>Readonly</h2>
    <p><textarea class="fsa-textarea" readonly="readonly" name="ilozuphg" placeholder="Placeholder">Lorem ipsum dolor sit amet</textarea></p>
  </div>
</div>
</div>



