<div class="fsa-text-size--1 fsa-m--m fsa-p--m fsa-font--sans">
  <h2>BottonGroups</h2>
  <h2>Default</h2>
  <span class="fsa-btn-group" role="group" aria-label="Label describing this group">
    <button class="fsa-btn-group__item" type="button">Update</button>
    <button class="fsa-btn-group__item fsa-btn-group__item--active" type="button">Add</button>
    <button class="fsa-btn-group__item" type="button">Move</button>
    <button class="fsa-btn-group__item" type="button">Delete</button>
  </span>
  <h2>small</h2>
  <span class="fsa-btn-group fsa-btn-group--small" role="group" aria-label="Label describing this group">
    <button class="fsa-btn-group__item" type="button">Label</button>
    <button class="fsa-btn-group__item fsa-btn-group__item--active" type="button">Active Label</button>
    <button class="fsa-btn-group__item" type="button">Label</button>
    <button class="fsa-btn-group__item" type="button">Label</button>
  </span>
  <h2>Large</h2>
  <span class="fsa-btn-group fsa-btn-group--large" role="group" aria-label="Label describing this group">
    <button class="fsa-btn-group__item" type="button">Label</button>
    <button class="fsa-btn-group__item fsa-btn-group__item--active" type="button">Active Label</button>
    <button class="fsa-btn-group__item" type="button">Label</button>
    <button class="fsa-btn-group__item" type="button">Label</button>
  </span>

  <h2>Block</h2>
  <span class="fsa-btn-group fsa-btn-group--block" role="group" aria-label="Label describing this group">
    <button class="fsa-btn-group__item" type="button">Label</button>
    <button class="fsa-btn-group__item fsa-btn-group__item--active" type="button">Active Label</button>
    <button class="fsa-btn-group__item" type="button">Label</button>
    <button class="fsa-btn-group__item" type="button">Label</button>
  </span>
</div>