<div class="fsa-text-size--1 fsa-m--m fsa-p--m fsa-font--sans">
<h2>Labels</h2>
<h2>Default</h2>
<span class="fsa-label">Remarks</span>
<h2>Alert</h2>
<span class="fsa-label fsa-label--alert">Remarks</span>
<h2>Warning</h2>
<span class="fsa-label fsa-label--warning">Warning Label</span>
<h2>Success</h2>
<span class="fsa-label fsa-label--success">Success Label</span>
<h2>Large</h2>
<span class="fsa-label fsa-label--large">Large Default Label</span>
<span class="fsa-label fsa-label--alert fsa-label--large">Large Alert Label</span>
<span class="fsa-label fsa-label--warning fsa-label--large">Large Warning Label</span>
<span class="fsa-label fsa-label--success fsa-label--large">Large Success Label</span>
</div>